# Local run
certs/
env.sh
application.yaml
tomcat/

# Maven
target/

# Intellij
.idea
*.iml

# NPM
node_modules/
dist/
npm-debug.log

#eclipse
.project
.classpath
.settings/
settings.xml


*.zip
src/main/resources/cvCookie